.page_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  @include sub-font(24px);
  opacity: 0.4;
}
.github-link {
  @include normalize-link();
  @include icon-font(30px);
  opacity: 0.4;
  &:hover {
    opacity: 1;
    transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
  }
}
