.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page_container {
  margin: 0 auto;
  width: 87%;
  @media (min-width: $tablet-width) {
    width: 91%;
  }
  @media (min-width: $desktop-width) {
    width: 85%;
  }
}

.page__body {
  margin: 0 auto;
  padding-top: 40px;
  width: 87%;
  overflow-x: hidden;
  background-color: $bg-blue;
  &::-webkit-scrollbar {
    opacity: 0;
  }
}
